<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quis at laborum quos 
  laboriosam deserunt fugit odit expedita minima labore cupiditate accusantium voluptatum, 
  iste praesentium veritatis ab architecto maxime corporis? Lorem ipsum dolor sit amet 
  consectetur adipisicing elit. Adipisci dignissimos hic quisquam, numquam fugiat ipsum 
  assumenda reiciendis repudiandae repellat sunt asperiores suscipit vitae! Modi, dolorem 
  praesentium quam aspernatur perspiciatis aut!
</p>
